*.o
*.d
lib/ffmpeg/libavutil
lib/ffmpeg/libavfilter
lib/ffmpeg/libavcodec
lib/ffmpeg/doc
lib/ffmpeg/libavformat
lib/ffmpeg/libavresample
lib/ffmpeg/libswresample
lib/ffmpeg/libswscale
FFmpeg.xcscmblueprint
lib/openjpeg/bin
lib/openjpeg/share/man
thirdparty/openjpeg/applications/codec/.deps
thirdparty/openjpeg/applications/jpip/libopenjpip/.deps
thirdparty/openjpeg/applications/mj2/.deps
thirdparty/openjpeg/libopenjpeg/.deps
thirdparty/openjpeg/libopenjpeg/jpwl/.deps
thirdparty/openjpeg/applications/jpip/util/.deps
1080_1080_JYUV420P_HB_encoder.jpg
.dat.nosync07f3.ohguy8
1080_1080_JYUV420P_HB_encoder.jpeg
100.mp4
.DS_Store
proj/FFmpeg/FFmpeg.xcodeproj/project.xcworkspace/xcuserdata/zj-db0519.xcuserdatad/UserInterfaceState.xcuserstate
proj/FFmpeg/FFmpeg.xcodeproj/xcuserdata/zj-db0519.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
proj/FFmpeg/FFmpeg.xcodeproj/xcuserdata/zj-db0519.xcuserdatad/xcschemes/Sample.xcscheme
proj/FFmpeg/FFmpeg.xcodeproj/xcuserdata/zj-db0519.xcuserdatad/xcschemes/xcschememanagement.plist
